/* Inicialmente o menu fica oculto */
.menu-aberto {
    display: none;
    background-color: #333;
    color: white;
    position: absolute;
    top: 50px; /* Ajuste conforme a posição do menu */
    right: 0;
    width: 100%;
    padding: 10px 0;
}

.menu-aberto.active {
    display: block; /* Torna o menu visível quando a classe 'active' é adicionada */
}

/* Estilo para o ícone do menu (hamburguer) */
.hamburger input[type="checkbox"] {
    display: none; /* Esconde o checkbox para que apenas o SVG seja visível */
}

.hamburger svg {
    cursor: pointer;
    width: 30px;
    height: 30px;
    fill: none;
    stroke: white;
    stroke-width: 2;
}

.nav-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.nav-menu a:hover {
    background-color: #555;
}
